<header>
    <div class="nav-wrapper">
        <div class="logo" >
            <a href="/">
                <img src="/img/header/logo.svg" alt="Logo"/>
            </a>
        </div>
        <nav class="nav">
            <a href="/o-nas">O NAS</a>
            <a href="/produkty">PRODUKTY</a>
            <a href="/dystrybutorzy">DYSTRYBUTORZY</a>
            <a href="/kariera">KARIERA</a>
            <a href="/kontakt" id="nav_kontakt">KONTAKT</a>
        </nav>
        <div class="nav_button">
            <a href="/kontakt">KONTAKT</a>
        </div>
        <div class="menu_button">
            <a href="javascript:void(0)" id="menu-toggle">MENU</a>
        </div>


    </div>
</header>