<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>O nas</title>
    <link rel="stylesheet" href="../css/style.css"/>
</head>
<body>
    <%- include('../partials/header') %>

    <div class="about_container">
        <div class="about_inner">
            <div class="about_info_section1">
                <div class="about_info_section1_text">
                    <h1>Profesjonaliści w swojej branży</h1>
                    <p>Wieloletnie doświadczenie oraz wykwalifikowana kadra
                        przekłada się na jakość prezentowaną przez firmę ARAGO.
                        Jesteśmy prawdziwymi liderami w branży.  </p>
                </div>
                <img class="about_info_section1_img" src="/img/about/about_img1.svg" alt="">
            </div>
            <div class="about_info_section2">
                <div class="about_info_section2_text">
                    <h1>Polskie korzenie</h1>
                    <p>Nasza firma posiada 100% kapitału w Polsce. ARAGO to rodzinna firma
                        z wielopokoleniową historią. Założenie marki a także cała działalność
                        zawsze miała miejsce na terenie Polski.</p>
                </div>
                <img class="about_info_section2_img" src="/img/about/about_img2.svg" alt="">
            </div>
            <div class="about_circles" id="aboutCircles">
                <div class="circle_column">
                    <h1>1954</h1>
                    <img class="circle_inside" src="/img/about/circle1.svg"></img>
                    <p>dane do wstawienia krótkie, opisowe</p>
                </div>

                <div class="circle_column">
                    <h1>1982</h1>
                    <img class="circle_inside" src="/img/about/circle2.svg"></img>
                    <p>dane do wstawienia krótkie, opisowe</p>
                </div>

                <div class="circle_column">
                    <h1>2002</h1>
                    <img class="circle_inside" src="/img/about/circle3.svg"></img>
                    <p>dane do wstawienia krótkie, opisowe</p>
                </div>

                <div class="circle_column">
                    <h1>2014</h1>
                    <img class="circle_inside" src="/img/about/circle4.svg"></img>
                    <p>dane do wstawienia krótkie, opisowe</p>
                </div>

                <div class="circle_column">
                    <h1>2025</h1>
                    <img class="circle_inside" src="/img/about/circle5.svg"></img>
                    <p>dane do wstawienia krótkie, opisowe</p>
                </div>
            </div>
        </div>
    </div>


<script src="../script/script.js"></script>
<script src="../script/about.js"></script>
</body>
</html>