<h1>Edytuj posty karuzeli</h1>

<ul>
    <li><a href="/admin/carousel/edit/1">Edytuj post #1</a></li>
    <li><a href="/admin/carousel/edit/2">Edytuj post #2</a></li>
    <li><a href="/admin/carousel/edit/3">Edytuj post #3</a></li>
</ul>

<a href="/admin">⬅️ Powrót do panelu</a>