<!DOCTYPE html>
<html>
<head>
    <title>Panel Administratora</title>
</head>
<body>
    <h1>Panel Administratora</h1>

    <nav style="margin-bottom: 20px;">
        <ul>
            <li><a href="/admin/posts">Zarządzaj wpisami</a></li>
            <li><a href="/admin/career">Zarządzaj ofertami pracy</a></li>
            <li><a href="/admin/carousel">Zarządzaj karuzelą</a></li>
        </ul>
    </nav>
</body>
</html>
