<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Produkty</title>
    <link rel="stylesheet" href="../css/style.css"/>
</head>
<body>
    <%- include('../partials/header') %>
    <div class="products_container">
        <div class="arago_container">
            <a href="/produkty/arago">
                <img src="/img/products/logo_arago.svg" alt="">
            </a>
            
        </div>
        <div class="clarb_container">
            <a href="/produkty/clarb">
                <img src="/img/products/logo_clarb.svg" alt="">
            </a>
            
        </div>
    </div>

<script src="../script/script.js"></script>
<script src="../script/products.js"></script>
</body>
</html>